<div class="story-container">
  <label for="story-input" class="story-label">Story</label>
  <input type="text" id="story-input" disabled [value]="selectedStory" class="story-input" />
</div>
<div class="card-container">
  <div class="card" *ngFor="let id of roomIds" (click)="onRoomIdClick(id)">
    <h3 class="card-title">{{ id }}</h3>
  </div>
</div>
<div class="selected-item" *ngIf="selectedItem">
    <h2>Selected Room details</h2>
    <p><strong>Room Name:</strong> {{ selectedItem.roomName }}</p>
    <p><strong>Room Id:</strong> {{ selectedItem.roomId }}</p>
    <p><strong>Story Id:</strong> {{ selectedItem.storyId }}</p>
    <p><strong>Voting Type:</strong> {{selectedItem.votingType}}</p>
</div>